<p id="recipe-info"><%= notice %></p>

<h3>Chef Info: <%= @chef.name %></h3>

<h3>Recipes associated:</h3>
<ul>
  <% @chef.recipes.distinct.each do |recipe| %>
    <li><%= link_to recipe.name, recipe %></li>
  <% end %>
</ul>

<br>

<%= render 'form' %>
<br>
<h3>Comments:</h3>
<ul>
  <% @chef.chef_recipes.select(&:persisted?).each do |cr| %>
    <li><%= cr.recipe.name %> : <%= cr.comment %> </li>
  <% end %>
</ul>
